@font-face{
	font-family: 'Source Serif Pro';
	src: url('sourceserifpro-regular.eot');
	src: url('sourceserifpro-regular.eot?#iefix') format('embedded-opentype'),
	     url('sourceserifpro-regular.woff') format('woff'),
	     url('sourceserifpro-regular.ttf') format('truetype'),
	     url('sourceserifpro-regular.svg#webfont') format('svg');
}
.container {
	width: 960px;
	margin: 0 auto;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
header {
	position: relative;
}
header .right {
	position: absolute;
	height: 20px;
	margin: auto;
	top: 0;
	left: 85%;
	bottom: 0;
}
h1 {
    font-family: 'Source Serif Pro', serif;
}
h1 a {
	text-decoration: none;
}
.product {
	width: 200px;
	float: left;
	margin: 40px;
}
.product form {
	position: relative;
}
.product .right {
	position: absolute;
	right: 0;
}
button {
	border-radius: 90px;
	background: #f2dd54;
	padding: 5px 8px;
}
.productImage {
	width: 200px;
}
.strikethrough {
	text-decoration: line-through;
}
