@font-face {
font-family:'Source Serif Pro';
src:url(sourceserifpro-regular.eot?#iefix) format(embedded-opentype), url(sourceserifpro-regular.woff) format(woff), url(sourceserifpro-regular.ttf) format(truetype), url(sourceserifpro-regular.svg#webfont) format(svg);
}

.container {
width:960px;
margin:0 auto;
}

body {
font-size:16px;
font-family:'Open Sans', Helvetica, Arial, sans-serif;
background-color:#f9f8f3;
margin:0;
padding:0;
}

header {
position:relative;
background:#e7e5d2;
padding:20px;
}

header .right {
position:absolute;
height:20px;
top:0;
left:85%;
bottom:0;
margin:auto;
}

h1 {
font-family:Arial, Verdana, serif;
margin:0;
}

h2 {
color:#4B425C;
text-transform:capitalize;
}

h1 a {
text-decoration:none;
color:#6C6A57;
}

h1 a:link {
text-decoration:none;
}

ul {
padding:0;
}

#cart {
	margin-top: 20px;
}

.breadcrumbs a {
	color:#453454;
	text-transform:capitalize;

}

.breadcrumbs {
	color:#CCB7DE;
}
nav {
width:100%;
float:left;
list-style:none;
background-color:#CCB7DE;
border-bottom:1px solid #ccc;
border-top:1px solid #ccc;
margin:0 0 3em;
padding:0;
}

nav li {
float:left;
border-right:1px solid #ccc;
}

nav li a {
display:block;
text-decoration:none;
font-weight:700;
color:#069;
padding:8px 15px;
}

nav li:hover {
background-color:#4C435D;
}

nav li a:hover {
color:#EEE;
}

li {
list-style-type:none;
}

li a {
display:block;
width:50%;
}

.product{
	background-color:#807D5A;
	width:300px;
	height: 400px;
	border:5px solid #242319;
	

}


/*.product {
	width: 200px;
	height: 350px;
	padding: 10px;
	border: 5px rgb(99, 179, 245) solid;
	background-color: #f0f0f0;
	float: left;
	margin: 15px;
}*/

#cartbtn {
-moz-box-shadow:inset 0 1px 0 0 #453454;
-webkit-box-shadow:inset 0 1px 0 0 #453454;
background:0;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',endColorstr='#e9e9e9');
background-color:#CCB7DE;
-webkit-border-top-left-radius:0;
-moz-border-radius-topleft:0;
border-top-left-radius:0;
-webkit-border-top-right-radius:0;
-moz-border-radius-topright:0;
border-top-right-radius:0;
-webkit-border-bottom-right-radius:0;
-moz-border-radius-bottomright:0;
border-bottom-right-radius:0;
-webkit-border-bottom-left-radius:0;
-moz-border-radius-bottomleft:0;
border-bottom-left-radius:0;
text-indent:0;
border:1px solid #dcdcdc;
display:inline-block;
color:#069;
font-family:Arial;
font-size:15px;
font-weight:700;
font-style:normal;
height:40px;
line-height:40px;
width:100px;
text-decoration:none;
text-align:center;
}



#cartbtn:hover {
background:0;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9',endColorstr='#f9f9f9');
background-color:#e9e9e9;
}

#cartbtn:active {
position:relative;
top:1px;
}

.product {
width:200px;
float:left;
margin:20px;
}

.product div {
position:relative;
}



.container .product .addToCart {
	margin-right: 35px;
	margin-top: 20px;
	
	-moz-box-shadow:inset 0px 1px 0px 0px #9b81b3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9b81b3;
	box-shadow:inset 0px 1px 0px 0px #9b81b3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #574369), color-stop(1, #7c5f96) );
	background:-moz-linear-gradient( center top, #574369 5%, #7c5f96 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#574369', endColorstr='#7c5f96');
	background-color:#574369;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0;
	border:1px solid #e8daeb;
	display:inline-block;
	color:#f4f2f5;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:107px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px -1px 0px #694a6e;
}
.addToCart:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7c5f96), color-stop(1, #574369) );
	background:-moz-linear-gradient( center top, #7c5f96 5%, #574369 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c5f96', endColorstr='#574369');
	background-color:#7c5f96;
}

.strikethrough {
text-decoration:line-through;
}

.otherImages img {
width:75px;
}

ul#shoppingCart li {
position:relative;
width:100%;
margin-bottom:15px;
padding:15px;
}

ul#shoppingCart li:nth-child(even) {
background:#d6d6d6;
}

ul#shoppingCart li input {
width:40px;
}

ul#shoppingCart li button {
width:80px;
}

ul#shoppingCart li .cartInfo {
position:absolute;
right:10%;
width:200px;
}

.product .right,ul#shoppingCart li .cartActions {
position:absolute;

right:0;
}

.product .right{
	margin-right: 10px;
}

.itemname {
	margin-top: 8px;
	margin-left:5px;
}

.productImage,ul#shoppingCart {
width:100%;
}
