@font-face{
	font-family: 'Source Serif Pro';
	src: url('sourceserifpro-regular.eot');
	src: url('sourceserifpro-regular.eot?#iefix') format('embedded-opentype'),
	     url('sourceserifpro-regular.woff') format('woff'),
	     url('sourceserifpro-regular.ttf') format('truetype'),
	     url('sourceserifpro-regular.svg#webfont') format('svg');
}
.container {
	width: 960px;
	margin: 0 auto;
}
body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
}
header {
	position: relative;
	background: #2965a8;
	padding: 20px;
}
header .right {
	position: absolute;
	height: 20px;
	margin: auto;
	top: 0;
	left: 85%;
	bottom: 0;
}

.thumb{
	height: 190px;
	width: 165px

}

nav {
	font-size: 15pt;
	background-color: #545556;
}

nav ul {
	padding: 0px;
}

.links{
		padding: 20px;
		margin: 0;
		width: 14%;
}

.links:hover {
	background-color: #323232;
	text-decoration: none;
}

h1 {
    font-family: 'Oleo Script', cursive;
	margin: 0;
}
h1 a {
	text-decoration: none;
	color: #eee;
}
h1 a:hover {
	color: #EDCD32;
	text-decoration: none;
}

li{
	list-style-type: none;
}

li a{
	display:block;
	width:50%;
	color: #fff;
	text-decoration: none;
	margin-top: 5px;
}

li a:hover {
	color: #ffffff;
		text-decoration: none;
}

#cartItems{
	font-size: 18px;
	color: #eee;
}

.productPage{
	margin: 1px;
	float: left;
}

.productPage img{
	width: 45%;
}

.productInfo{
	float:right;
	margin-left: 50px;
	width: 45%;
}
.breadcrumbs{
	width:100%;
	float:left
}

.product {
    width: 200px;
    height: 340px;
    padding: 10px;
    border: 5px #545556 solid;
    background-color: #f0f0f0;
    float: left;
    margin: 15px;
    font-size: 13px;
}
.product div {
	position: relative;
}
.product .right {
	position: absolute;
	right: 0;
}
button.addToCart {
	background: #2965A8;
	padding: 5px 8px;
	outline: none;
	color: #fff;
}
button.addToCart:hover {
	color: #EDCD32;
}
.productImage {
	width: 100%;
}
.strikethrough {
	text-decoration: line-through;
}
.otherImages img {
	width: 75px;
}

#cart-icon {
	width: 30px;
	height: 30px;	
	margin-right: 10px;
}

ul#shoppingCart{
	width: 100%;
}
ul#shoppingCart li{
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	padding: 15px;
}
ul#shoppingCart li:nth-child(even){
	background: #6D6D6D;
	color: #fff;
}
ul#shoppingCart li input{
	width: 85px;
	margin-left: 5px;
}
ul#shoppingCart li button{
	width: 80px;
}
ul#shoppingCart li .cartInfo {
	position: absolute;
	right: 10%;
	width: 200px;

}
ul#shoppingCart li .cartActions {
	position: absolute;
	right: 0;
}

.edit-box {
	border: 1px solid black;
	color: black;
	padding-right: 5px;
	text-align: right;
}

.update {
	margin-right: 15px;
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b3f5), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #63b3f5 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b3f5', endColorstr='#378de5');
    background-color:#63b3f5;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;
}
.update:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #63b3f5) );
    background:-moz-linear-gradient( center top, #378de5 5%, #63b3f5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#63b3f5');
    background-color:#378de5;
}.update:active {
    position:relative;
    top:1px;
}

.remove {
	margin-right: 15px;
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
    background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
    background-color:#f24537;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #d02718;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #810e05;
}
.remove:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
    background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
    background-color:#c62d1f;
}.remove:active {
    position:relative;
    top:1px;
}

.nav{
    margin-bottom: 5px;
}