body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.container {
    width: 960px;
    margin: 0 auto;
}
header {
    position: relative;
    background: #ff9100;
    padding: 10px;
    margin-bottom: 20px;
}
header .container {
    position: relative;
}
h1 {
    margin: 0;
    font-size: 2em;
    line-height: 1em;
}
h1 a {
    color: #fff;
    text-decoration: none;
}
header span {
    position: absolute;
    margin: auto;
    height: 20px;
    top: 0;
    right: 20px;
    bottom: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000;
}
table th {
    font-weight: 300;
    font-size: 1.1em;
    padding: 5px 10px;
    border-bottom: 1px solid #000;
    color: #fff;

    background: rgb(122,188,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

}
#sku{
    width: 6%;
}
#desc{
    width: 35%;
}
#msrp{
    width: 8%;
}
#wsp{
    width: 8%;
}
#cat{
    width: 10%;
}
#photos{
    width: 27%;
}
#stock{
    width: 6%;
}

table th:nth-child(1n+2), table td:nth-child(1n+2) {
    border-left: 1px solid #000;
}
table tr:nth-child(odd) td {
    background: #d9d9d9;
}
table td {
    font-weight: 300;
}
