<link type="text/css" href='/styles/distro.css' rel='stylesheet'/>



<header>
	<div class="container">
		<h1><a href="/distro">JungleStore</a></h1>
	</div>
</header>
<div class="container">
	<div id="mainContent">

<h2>Login</h2>
<%- req.flash('incorrect') %>
<%- req.flash('session') %>
<%- req.flash('logout') %>
<form method="POST" action="/distro/logincheck">
	<input type="text" name="username" autofocus>
	<input type="password" name="password">
	<input type="submit" value="Submit">
</form>
<p>Not a member? <a href="/distro/signup" title="Link to Signup Page">Create account here</a></p>
	</div>
</div>
