<h1>This will be the login</h1>
<form method="POST" action="/distro/logincheck">
	<input type="text" name="username">
	<input type="password" name="password">
	<input type="submit" value="Submit">
</form>
<p>Not a member? <a href="/distro/signup" title="Link to Signup Page">Create account here</a></p>