<h1>This will be the login</h1>
<form method="POST" action="/distro/logincheck">
	<input type="text" name="username">
	<input type="password" name="password">
	<input type="submit" value="Submit">
</form>
