<header>

    <h1><a href="/affiliate1">Shopcentral</a></h1>
    <div id="cart" class="right"><a href="/affiliate1/cart" id="cartbtn"><img id="cart-icon" src="/images/cart_icon.png" /><span id="cartItems"><%= cartQty %></span></a></div>

</header>
