<header>
<<<<<<< HEAD
    <h1><a href="/affiliate1">Shopcentral</a></h1>
    <div id="cart" class="right"><a href="/affiliate1/cart" id="cartbtn">My Cart <span id="cartItems"></span></a></div>
=======
    <h1><a href="/affiliate1">ShopCentral</a></h1>
    <div id="cart" class="right"><a href="/affiliate1/cart">Cart <span id="cartItems"></span></a></div>

>>>>>>> FETCH_HEAD
</header>
