<header>

    <h1><a href="/affiliate2">PlanetShopping</a></h1>
    <div id="cart" class="right"><a href="/affiliate2/cart" id="cartbtn">My Cart <span id="cartItems"><%= cartQty %></span></a></div>

</header>
