
This is an example of including the navigation, so, define it once, use it many times.

<ul>
    <li>Nav1</li>
    <li>Nav2</li>
    <li>Nav3</li>
</ul>

The same thing can be done for any menus, footers, headers, etc.
